<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Try On</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

<body>
    <div class="uploadImage">
        <form action="/upload" method="POST" enctype="multipart/form-data" id="uploadForm">
            <div id="imagePreview"></div>
            <input type="file" name="image" accept="image/*" required id="imageInput">
            <button type="submit" class="btn-upload"> Submit </button>
        </form>
    </div>

    <script>
        document.getElementById('imageInput').addEventListener('change', function (event) {
            const imagePreview = document.getElementById('imagePreview');
            imagePreview.innerHTML = '';

            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.maxWidth = '100%';
                    img.style.maxHeight = '200px';
                    imagePreview.appendChild(img);
                }
                reader.readAsDataURL(file);
            }
        });
    </script>
</body>

</html>